#!/usr/bin/env bash
function clean_docker_from_act() {
    if [ -n "$(which docker)" ]; then
        CONTAINER_IDS=$(docker ps | tail -n +2)
        if [ -n "$CONTAINER_IDS" ]; then
            echo "$CONTAINER_IDS" | cut -f 1 -d " " | xargs docker stop
        fi
        docker system prune -f
    fi
}

git pull origin main

clean_docker_from_act &

use flake
